body{
    background-color: #151212;
}

/* Begin Header*/
#head{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 150px;
}

#head>h1{
    position: relative;
    display: inline;
    left: 40%;
    color: #eeeeee;
    font-family: Arial, sans-serif;
}

#head>#project-div>div{
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #35e5e5;
    display: inline-block;
    left: 150px;
}

#head>#project-div>div>h4{
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    top: 30%;
    left: 10%;
}

#head>#project-div>div:hover{
    background-color: #395a5a;
    cursor: pointer;
}


/* End Header*/

#assignment-sec{
    position: absolute;
    top: 290px;
    width: 100%;
    height: 250px;
   /* border-bottom: #eeeeee solid 1px;*/
}

#assignment-sec>h1{
    position: relative;
    display: inline;
    left: 40%;
    color: #eeeeee;
    font-family: Arial, sans-serif;
}

#assignment-sec>div>div{
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #35e5e5;
    display: inline-block;
    left: 150px;
    border-bottom: black solid 3px;
}

#assignment-sec>div>div>h4{
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    top: 30%;
    left: 15%;
}

#assignment-sec>div>div:hover{
    background-color: #395a5a;
    cursor: pointer;
}













