
#body{
    background-color: #320606;
}

/*Begin Header*/
#nav-bar{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #90727c;

}
#nav-icon{
    width: 100px;
    height: 33px;
    position: relative;
    left: 2%;
    top: 8px;
}
.n-list{
    list-style-type: none;
    overflow: hidden;
}
.li {
    float: left;
    color: #eeeeee;
}
.nav-list{
    position: relative;
    top: -60px;
    left: 61%;
}
#pro-image{
    width: 100%;
    height: 800px;
}

/*End Header*/