
body{
    background-color: #320606;
}

/*Begin Header*/
header{
    position: absolute;
    width: 100%;
}

#nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #90727c;

}
#nav-icon{
    position: absolute;
    width: 100px;
    height: 5vh;
    left: 2%;
    top: 10px;
}

#nav-list{
    position: absolute;
    right: 0;
    width: 500px;
    height: 50px;
}

#n-list{
    display: inline;
    list-style-type: none;
    overflow: hidden;
}

.li{
    display: inline;
    float: left;
    color: #eeeeee;
}

/*End Header*/