
body{
    background-color: #000000;
}

/*Begin Header*/
header{
    position: absolute;
    width: 100%;
    height: 600px;
}

#nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #90727c;

}
#nav-icon{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 2%;
    top: 10px;
}

#nav-list{
    position: absolute;
    right: 0;
    top: -5px;
    width: auto;
    height: 50px;
}

#n-list{
    display: inline;
    list-style-type: none;
    overflow: hidden;
}

.li{
    display: inline;
    float: left;
    color: #eeeeee;
}

#profile-image{
    position: absolute;
    width: 334px;
    height: 376px;
    right: 5%;
    top: 150px;
}

#pro-image{
    position: absolute;
    width: 100%;
    height: 100%;
}


#frame{
    position: absolute;
    width: 101%;
    height: 110%;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    /*background-color: rgba(245, 15, 68, 0.2);*/
    left: -1%;
}

#content-frame{
    position: relative;
    width: 60%;
    height: 75%;
    left: 2%;
    top: 10%;
}

#content-frame>h1{
    position: inherit;
}

#content-frame>h1:nth-child(1){
    color: #eeeeee;
    left: 5%;
    top: 3%;
}

#content-frame>h1:nth-child(2){
    color: #e75778;
    left: 8%;
}

#content-frame>ul{
    color: #eeeeee;
}

#content-frame>#cv{
    position: inherit;
    left: 2%;
    color: #eeeeee;
}

    button#download-btn{
    color: #ffffff;
    background-color: #871b3a;
    border-radius: 10%;
    border: white solid 1px;
    width: 150px;
    height: 45px;
}

    button#start-btn{
        position: absolute;
        color: #ffffff;
        background-color: #550a15;
        border-radius: 10%;
        border: white solid 1px;
        width: 210px;
        height: 75px;
        font-size: x-large;
        left: 65%;
        top: 99%;
    }

/*End Header*/

/*Begin main  Project Section*/
main{
    position: relative;
    top: 700px;
    height: 950px;
    background-color: #111010;
    border-top: #282317 solid 6px;
    border-bottom: white solid 1px;
}

main>h1{
    position: relative;
    display: inline;
    color: white;
    left: 45%;
    top: 5%;
}

main>#pane-one{
    position: absolute;
    width: 85%;
    height: 30%;
    border: #000000 solid 1px;
    top: 18%;
    left: 7%;
    display: flex;
}

main>#pane-one>div{
    width: 100%;
    height: 100%;
    border: #000000 solid 1px;
}

main>#pane-two{
    position: absolute;
    width: 85%;
    height: 30%;
    border: #000000 solid 1px;
    top: 48.5%;
    left: 7%;
    display: flex;
}

main>#pane-two>div{
    width: 100%;
    height: 100%;
    border: #000000 solid 1px;
}

main>section>div>.im{
    position: relative;
    width:100%;
    height: 100%;
}

main>#pane-one>div>.hs{
    position: relative;
    top: -70%;
    width: 80%;
    left: 10%;
}

main>#pane-two>div>.hs{
    position: relative;
    top: -70%;
    width: 80%;
    left: 10%;
}

main>section>div>.hs>h2{
    z-index: 7;
    background-color: #111010;
    color: white;
    margin: 0;
}

button#project-btn{
    position: absolute;
    color: #ffffff;
    background-color: #550a15;
    border-radius: 20%;
    border: white solid 1px;
    width: 210px;
    height: 50px;
    font-size: x-large;
    left: 77%;
    bottom: 13%;
}
/*End main Project Section*/


/*Begin Skill section*/
#skill-section{
    background-color: #b8f6b1;
    position: absolute;
    width: 100%;
    height: 450px;
    top: 1550px;
    border-top: #321122 solid 6px;
}

#skill-section>div>div{
    position: relative;
    width: 120px;
    height: 120px;
    left: 14%;
    border: #01010e solid 5px;
    border-radius: 100%;
    display: inline-block;
    margin: 30px;
}

#skill-section>div>div>.logo-image{
    position: absolute;
    width: 115px;
    height: 115px;
    border-radius: 100%;
    left: 2%;
    top: 2%;
}

#skill-section>h2{
    position: relative;
    display: inline;
    color: #321122;
    left: 42%;
    font-size: 3em;
}

/*End Skill section*/

/*Begin Education section*/
#edu-section{
    position: absolute;
    background-color: rgba(87, 8, 8, 0.5);
    top: 2000px;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    border-bottom: yellow solid 1px;
}

#edu-section>div{
    width: 100%;
    height: 100%;
    border-bottom: #000000 solid 1px;
}

#edu-section>#edu-three,#edu-four,#edu-five{
    background-color: rgba(87, 8, 8, 0.7);
}

#edu-section>div>.edu-logo{
    position: relative;
    top: 10%;
    left: 5%;
    width: 120px;
    height: 120px;
    border: rgb(176, 183, 248) solid 5px;
    border-radius: 100%;
}




/*End Education section*/























