
main>#head{
    height: 60px;
    background-color: rgba(15, 135, 135, 0.65);
    border-bottom: #1b2828 2px solid;

}

#im{
    width: 70px;
    height: 70px;
    margin-top: -8px;
}

#lg-btn, #sg-btn{
    border-radius: 50px;
    background-color: rgba(123, 250, 250, 0.71);
    border: 1px solid rgba(43, 187, 187, 0.71);
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

#sec-2{
    height: 500px;
    background-color: rgba(11, 75, 75, 0.65);
}

main>#sec-3{
    height: 600px;
    background-color: rgba(11, 75, 75, 0.65);
}

main>#sec-3>div:nth-child(2){
    width: 70%;
    height: 80%;
    background-color: rgba(160, 219, 156, 0.28);
    border-radius: 30px;
}

main>#sec-3>div:nth-child(2)>div{
    position: relative;
    left: 15%;
}

#log-btn{
    width: 99%;
    border-radius: 50px;
    background-color: #49ee6c;
    border: 2px solid  #49ee6c;
}

main>#sec-3>div>div{
    width: 70%;
    height: 60%;
}

#im-Sec{
    width: 50%;
}

#im-bg{
    position: relative;
    top: 50px;
    width: 90%;
    height: 350px;
    opacity: 80%;
    border-radius: 10px;
    border: rgba(11, 75, 75, 0.65) solid 2px;
}