body{
    background-color: #55eac7;
}

/*######### Head Section #########*/

 #head-sec{
     background-color: rgba(95, 255, 191, 0.65);
     border-bottom: 3px solid rgba(30, 87, 104, 0.6);
 }

.img-thumbnail{
    width: 100px;
}

#head-sec>div>.bt-div{
    position: relative;
    top: 5%;
    width: 80%;
    height: 90%;
    border-radius: 100px;
    border: rgba(26, 14, 14, 0.25) 2px solid;
    background-color: rgba(11, 16, 29, 0.25);
}

#head-sec>div>.bt-div>h1{
    position: relative;
    top: 15%;
    text-align: center;
    font-weight: bold;
}

#second-dev>.wel-image{
    position: absolute;
    width: 40vw;
    height: 400px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#lg-sec{
    position: relative;
    left: 15%;
    width: 70%;
    top: 30em;
    background-color: rgba(28, 17, 17, 0.41);
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#lg-sec>label{
    display: inline;
}
#lg-sec>#txtName{
    position: relative;
    width: 10px;
}


 /*######### Head Section #########*/





















