body{
    background-color: rgba(11, 75, 75, 0.65);
}

#sec-one{
    height: 80px;
    background-color: rgba(15, 135, 135, 0.65);
    border-bottom: #1b2828 2px solid;
}

#im{
    width: 70px;
    height: 70px;
    margin-top: -1px;
}

#sec-one>div>h1{
    margin-top: 7px;
}

#cust-btn, #order-btn{
    border-radius: 40px;
    background-color: rgba(123, 250, 250, 0.71);
    border: 1px solid rgba(6, 38, 38, 0.71);
    width: 100%;
    height: 80%;
    margin-top: 5px;
}

#all-search, #search-btn{
    border-radius: 40px;
    background-color: rgba(123, 250, 250, 0.71);
    border: 1px solid rgba(43, 187, 187, 0.71);
    width: 100%;
    height: 80%;
    margin-top: 15px;
}

#free-sec{
    height: 30px;
}

#sec-two{
    height: 60px;
}

#txtCustomerName{
    margin-top: -12px;
    margin-left: 20px;
}

#sec-free-two{
    height: 50px;
}

#sec-three{
    height: 400px;
}

#div-in{
    height: 400px;
}

#divR-one{
    background-color: rgba(241, 233, 233, 0.19);
}

#cust-id{
    border-radius: 6px;
    width: 50%;
    font-size: 25px;
    margin-top: 15px;
}

#sp1, #sp2, #sp3, #sp4, #sp5, #sp6, #sp7, #sp8{
    height: 35px;
}

