

main{
    position : relative;
    width: 100vw;
    height: 100vh;
}

main>#bg{
    position : absolute;
    width : 100vw;
    height: 100vh;
}

#time-div{
    position : absolute;
    margin-top : 1vh;
    display: inline;
    width: 100px;
    height: 50px;
}

#time-div>h2{
    position: relative;
    color : #48ee0d;
    margin-left: 30px;
    font-size : 50px;
    display: inline-block;
}

#result-form{
    position : relative;
    background-color: #d51111;
    width : 50vw;
    top : 15vh;
    border-radius: 20px;
}

#result-form>h1{
    position: relative;
    left : 25%;
    margin-top : 10%;
    font-size : 65px;
}

#result-form>#result-div{
    width : 50%;
}

#result-form>#result-div>h3{
    position : relative;
    color : #3e0a15;
    display : inline-block;
}

#result-form>#end-btn{
    position : relative;
    left : 25%;
    margin-top : 5%;
    margin-bottom : 5%;
    width : 50%;
    height : 50px;
    border-radius: 20px;
    background-color: #fa52cb;
    font-size: 30px;
}

#row-one{
    position : absolute;
    display: inline;
    width : 200px;
    height : 550px;
    left: 25%;
    top : 5%;
    /*border: white 2px solid ;*/
}

#row-two{
    position : absolute;
    display: inline;
    width : 200px;
    height : 550px;
    left: 45%;
    top : 5%;
    /*border: white 2px solid ;*/
}

#row-three{
    position : absolute;
    display: inline;
    width : 200px;
    height : 550px;
    left: 65%;
    top : 5%;
    /*border: white 2px solid ;*/
}

.enemy{
    position: relative;
    width: 200px;
    height: 200px;
}

#playerArea{
    position : absolute;
    width : 800px;
    height : 150px;
    top : 70%;
    left: 22%;
    /*border : #35e5e5 2px solid;*/
}

#playerImg{
    position : absolute;
    width : 150px;
    height : 200px;



}

